/* Base styles */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Dark mode styles */
.dark-mode {
  background-color: black;
}

.dark-mode .city,
.dark-mode .todayHighlight,
.dark-mode .MultLocation {
  background-color: #373A40;
  color: white;
}

/* Light mode styles */
.light-mode {
  background-color: white;
}

.light-mode .city,
.light-mode .todayHighlight,
.light-mode .MultLocation {
  background-color: #f0f0f0;
  color: black;
}

/* Component-specific styles */
.humidity, .speed {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 150px;
  width: 200px;
  color: white;
  padding: 10px;
  margin: 5px;
}

.speed {
  background-image: url(./aserts/speed.png);
}

.humidity {
  background-image: url(./aserts/humuidity.png);
}

.serchcitys {
  display: flex;
}
.multlocationmain {
  height: 250px;
  overflow: auto;
}
.row{
  display: grid;
  grid-template-columns: 7fr 5fr;
  height: 180px;
  width: 400px;
}
.form-switch{
  margin-left: 20px;
}
.todayHighlight{
  margin-left: 10px;
  height: 220px;
}

/* Cursor styles */
.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.cursor-default {
  cursor: default;
}


/* portrait mode css */
@media only screen and (orientation: portrait) {
  .row{
    display: block;
    width: auto;
  }
  .search{
    width: 150px;
  }
  .form-switch{
    margin-left: 20px;
  }
  .serchcitys{
    display: block;
  }
  .main{
    width: 100%;
  }
  .multlocationmain {
    height: 150px;
    overflow: auto;
  }
  .row{
    display: grid;
  }
  .todayHighlight{
    margin-left: 0px;
    margin-top: 10px;
  }
}

