/* Base styles */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* Dark mode styles */
.dark-mode {
  background-color: black;
}

.dark-mode .city,
.dark-mode .todayHighlight,
.dark-mode .MultLocation {
  background-color: #373A40;
  color: white;
}

/* Light mode styles */
.light-mode {
  background-color: white;
}

.light-mode .city,
.light-mode .todayHighlight,
.light-mode .MultLocation {
  background-color: #f0f0f0;
  color: black;
}

/* Component-specific styles */
.humidity, .speed {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 150px;
  width: 200px;
  color: white;
  padding: 10px;
  margin: 5px;
}

.speed {
  background-image: url(./aserts/speed.png);
}

.humidity {
  background-image: url(./aserts/humuidity.png);
}

.serchcitys {
  display: flex;
}
.multlocationmain {
  height: 250px;
  overflow: auto;
}

/* Cursor styles */
.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

.cursor-default {
  cursor: default;
}

@media only screen and (orientation: portrait) {
  .row{
    display: block;
  }
}

